{% extends 'base.html' %} {% block content %} {% if user.is_authenticated %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarTogglerDemo03"
      aria-controls="navbarTogglerDemo03"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">Navbar</a>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link disabled"
            href="#"
            tabindex="-1"
            aria-disabled="true"
            >Disabled</a
          >
        </li>
      </ul>

      <a class="btn btn-outline-success" href="{% url 'logout' %}">
        Cerrar Sesión
      </a>
    </div>
  </div>
</nav>

{% else %}
<div class="container">
  <div class="row">
    <div class="col-md-12 col-lg-12">
      <div class="error-template">
        <h1>Oops!</h1>
        <h2>No estás autenticado</h2>
        <div class="error-details">Tienes que iniciar sesión</div>
        <div class="error-actions">
          <a href="{% url 'login' %}" class="btn btn-primary btn-lg"
            ><span class="glyphicon glyphicon-home"></span> Volver al login
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %} {% endblock content %}
