{% extends 'base.html' %} {% block content %} {% if user.is_authenticated %}

<nav class="navbar navbar-expand-lg navbar-dark bg-color-primary">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarTogglerDemo03"
      aria-controls="navbarTogglerDemo03"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="{% url 'bodegas' %}"
      >Admin, Bodegas Aquí Sipo</a
    >
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>

      <a class="btn btn-outline-danger" href="{% url 'logout' %}">
        Cerrar Sesión
      </a>
    </div>
  </div>
</nav>

<nav
  class="navbarr navbar-expand d-flex flex-column align-item-start"
  id="sidebar"
>
  <ul class="navbar-nav d-flex flex-column mt-5 w-100">
    <li class="nav-item dropdown w-100">
      <a
        href="#"
        class="nav-link dropdown-toggle text-light pl-4"
        id="navbarDropdown"
        role="button"
        data-toggle="dropdown"
        aria-expanded="false"
        ><i class="fas fa-warehouse fa-fw m-2"></i>Bodegas</a
      >
      <ul class="dropdown-menu w-100" aria-labelledby="navbarDropdown">
        <li>
          <a
            href="{% url 'bodegas' %}"
            class="dropdown-item text-light pl-4 p-2"
            ><i class="fas fa-boxes fa-fw m-2"></i>Listado de bodegas</a
          >
        </li>
        <li>
          <a
            href="{% url 'add-bodega' %}"
            class="dropdown-item text-light pl-4 p-2"
            ><i class="fas fa-plus fa-fw m-2"></i>Agregar bodegas</a
          >
        </li>
      </ul>
    </li>
    <li class="nav-item w-100">
      <a href="#" class="nav-link text-light pl-4"
        ><i class="fas fa-users fa-fw m-2"></i>Usuarios</a
      >
    </li>

    <li class="nav-item dropdown w-100">
      <a
        href="#"
        class="nav-link dropdown-toggle text-light pl-4"
        id="navbarDropdown"
        role="button"
        data-toggle="dropdown"
        aria-expanded="false"
        ><i class="fab fa-product-hunt fa-fw m-2"></i>Productos</a
      >
      <ul class="dropdown-menu w-100" aria-labelledby="navbarDropdown">
        <li>
          <a
            href="{% url 'lista-productos' %}"
            class="dropdown-item text-light pl-4 p-2"
            ><i class="fas fa-boxes fa-fw m-2"></i>Listado de productos</a
          >
        </li>
        <li>
          <a
            href="{% url 'add_producto' %}"
            class="dropdown-item text-light pl-4 p-2"
            ><i class="fas fa-plus fa-fw m-2"></i>Agregar productos</a
          >
        </li>
      </ul>
    </li>

    <li class="nav-item w-100">
      <a href="#" class="nav-link text-light pl-4"
        ><i class="fas fa-chart-line fa-fw m-2"></i>Movimientos</a
      >
    </li>
  </ul>
</nav>
<section class="p-4 my-container">
  <button class="btn my-4" id="menu-btn"><i class="fas fa-bars"></i></button>
  {% block contentHome %} {% endblock contentHome %}
</section>

{% else %}
<div class="container">
  <div class="row">
    <div class="col-md-12 col-lg-12">
      <div class="error-template">
        <h1>Oops!</h1>
        <h2>No estás autenticado</h2>
        <div class="error-details">Tienes que iniciar sesión</div>
        <div class="error-actions">
          <a href="{% url 'login' %}" class="btn btn-primary btn-lg"
            ><span class="glyphicon glyphicon-home"></span> Volver al login
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %} {% endblock content %}
