{% extends 'bodeapp/home/home.html' %} {% block contentHome %}
<h1 class="container">{{message}}</h1>
<table class="table container responsive-table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Descripcion</th>
      <th scope="col">Editar</th>
    </tr>
  </thead>
  <tbody>
    {% for producto in productos %}
    <tr>
      <th scope="row">{{producto.id}}</th>
      <td>{{producto.nombre_producto}}</td>
      <td>{{producto.descripcion_producto}}</td>
      <td>
        <a
          href="{% url 'detalle-producto' producto.id  %}"
          class="btn btn-outline-success rounded-pill btn-sm shadow-sm"
          ><span class="glyphicon glyphicon-home"></span> Detalles
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock contentHome %}
